@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('/fonts/noto-sans-georgian-v48-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('/fonts/noto-sans-georgian-v48-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('/fonts/noto-sans-georgian-v48-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans Georgian';
  src: url('/fonts/noto-sans-georgian-v48-latin-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}